.mbtn
{
  background: #E3A20B;
  
  background-image: -webkit-linear-gradient(top, #E3A20B, #E3A21B);
  background-image: -moz-linear-gradient(top, #E3A20B, #E3A21B);
  background-image: -ms-linear-gradient(top, #E3A20B, #E3A21B);
  background-image: -o-linear-gradient(top, #E3A20B, #E3A21B);
  background-image: linear-gradient(to bottom, #E3A20B, #E3A21B);
  
  font-size: 150%;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.mbtn:hover
{
  background: #FFFF00;
  
  background-image: -webkit-linear-gradient(top, #FFFF00, #FFF000);
  background-image: -moz-linear-gradient(top, #FFFF00, #FFF000);
  background-image: -ms-linear-gradient(top, #FFFF00, #FFF000);
  background-image: -o-linear-gradient(top, #FFFF00, #FFF000);
  background-image: linear-gradient(to bottom, #FFFF00, #FFF000);
  
  text-decoration: none;
}