table.center 
{
	margin-left:auto; 
	margin-right:auto;
}

table.fullwidth
{
	width: 100%;
}

table.leftaligntext
{
	text-align: left;
}

table.gianttext
{
	font-size: 150%;
}

table.largetext
{
	font-size: 125%;
}


table.smalltext
{
	font-size: 75%;
}

table.tinytext
{
	font-size: 50%;
}

table.colored
{
	
	background: khaki;
}